
.gallery {
  display:flex;
  flex-wrap:wrap;

  justify-content: flex-start;
  flex-direction: row;
}

img {
  width:200px;
  margin: 1rem;
}

@media (width > 50em) {
  .gallery {
    display:flex;
    width:100%;
  
    justify-content: space-around;
    align-items: flex-start;
  
    flex-direction: row;
  }
  
  img {
    width:300px;
  }

}
