body {
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
  max-width: 85ch;
  border-bottom: 1px solid black;
}

main {
  max-width: 85ch;
  margin: auto;
}

/* adjusting issues with font lightness in italics*/
em {
  font-weight: 600;
}

img{
  width: 250px;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  align-items: center;
  padding: 25px 15px;
}

ol{
  padding-left: 4rem;
}
